name: lint

on: [push, pull_request]

jobs:

  job:

    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.platform }}

    steps:
    - name: Git config
      run: |
        git config --global core.autocrlf false
        git config --global core.eol lf

    - uses: actions/checkout@v2.3.4

    - uses: actions/setup-node@v2.1.5
      with:
        node-version: 'stable'

    - run: npm install

    - run: npm run lint
