name: deploy

on:
  push:
    branches:
      - master

jobs:
  job:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v4
      with:
        persist-credentials: false
        submodules: recursive

    - name: Lint
      run: |
        npm install
        npm run lint
    
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@v4.7.3
      with:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        BRANCH: gh-pages
        FOLDER: .
        CLEAN: true
